*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/fi/oulu/danielszabo/pepper/applications/gpt_prototype/llm_service/config/ApiConfig.java
app/src/main/java/fi/oulu/danielszabo/pepper/applications/sona_promotion_gpt/llm_service/config/ApiConfig.java
